<div class="live-feed">
    <img src="http://10.12.224.82:8081/" alt="Live Feed"><br>
    <small>The live feed may take awhile to load, so don't freak out if you see nothing for a few seconds.</small>
</div>
