<h1>Official S.T.T.F Ladder Rules</h1>
<hr>

<h2>SECTION A: Joining the Ladder</h2>
<ul>
    <li>At the inception of the ladder, all players will be placed randomly, regardless of presumed skill level.</li>
    <li>Players who join subsequently will be placed at the bottom of the ladder.</li>
    <li>Players can remove themselves from the ladder at any time.</li>
    <li>Players may also re-join the ladder at any time, at the bottom of the ladder.</li>
    <li>Only Snagajob employees are eligible to join the ladder.</li>
</ul>

<h2>SECTION B: Challenges</h2>
<ul>
    <li>Challenges are strongly encouraged to be made in person to avoid potential miscommunication (i.e., didn&rsquo;t get IM, didn&rsquo;t check email, etc).</li>
    <li>Challenges may NOT be made via proxy.</li>
    <li>
        All challenges must be accepted AND played within two business days following the initial challenge. (i.e., if a challenge is made on Monday, the game must be played by the end of the day on Wednesday).
        <ul>
            <li>Only business days factor into this total. Holiday / weekend days do not count.</li>
            <li>If any time during the allotted challenge time, either player will be absent (i.e. vacation/sick/travel), that player has the right to refuse the challenge.</li>
            <li>If an accepted challenge is not fulfilled in the time allotted, the offending player is said to have forfeited the game.</li>
        </ul>
    </li>
    <li>
        Each player may have only one &lsquo;active&rsquo; challenge at a given time. (i.e., if you have an active challenge match pending, you must complete or forfeit that match before challenging another player, or becoming eligible to be challenged by another player).
        <ul>
            <li>
                If challenge is accepted AND played while a player currently has another outstanding challenge, that player:
                <ul>
                    <li>Loses all forward progress made as the result of that challenge.</li>
                    <li>Moves down one position on the ladder.</li>
                    <li>The original (unplayed) outstanding challenge still stands.</li>
                </ul>
            </li>
        </ul>
    </li>
    <li>You may challenge up to four positions ahead of you on the ladder.</li>
    <li>If the challenger wins, they will assume the position on the ladder occupied by the defeated player (the challenged player, and all subsequent players will drop one slot, until the slot occupied by the challenger is filled).</li>
    <li>
        The loser of a match cannot replay the winner of the same match unless at least one of the following conditions are met:
        <ul>
            <li>The loser has played a subsequent ladder match.</li>
            <li>A period of two or more business days have elapsed.</li>
        </ul>
    </li>
    <li>There is no limit to the amount of ladder matches you can play in a week.</li>
    <li>If a match is forfeited, the player forfeiting the match automatically moves to the bottom of the ladder. Every player below the forfeiting player moves up one spot.</li>
    <li>The challenger may rescind a challenge any time between the issue of the challenge and the beginning of the match, without penalty. To rescind a challenge, the challenger must communicate to the challenged player their desire to withdraw the challenge, AND receive an acknowledgement from the challenged player.</li>
    <li>
        INJURY LEAVE: If a player suffers a physical injury that would temporarily prevent them from playing table tennis, that player may choose to place themselves on indefinite &quot;injury  leave.&quot; To indicate that they are on &quot;injury leave&quot;, a player should mark their name card with a paper clip. Placing yourself on &quot;injury leave&quot; has the following effects:
        <ul>
            <li>The player immediately moves down three spots.</li>
            <li>The player may not make OR accept challenges from other players.</li>
            <li>A player may take themselves off of &quot;injury leave&quot; anytime they wish. At that time, they may make/accept challenges as usual.</li>
        </ul>
    </li>
    <li>The results of all challenges must be recorded on the official STTF score card, and turned in to an authorized representative.</li>
</ul>

<h2>SECTION C: Rules of Play (in addition to standard ITTF play)</h2>
<ul>
    <li>Matches will be determined by the best 2 out of 3 games.</li>
    <li>The challenged player serves first in the first game. First serve then alternates in subsequent games.</li>
    <li>Each player serves twice in a row, then alternates.</li>
    <li>Before each serve, the serving player should call out the current score, in the format of &quot;My Score, Your Score.&quot; (i.e., &quot;3,2&quot;, &quot;1,7&quot;, &quot;5,5&quot;, etc).
    <li>
        The first player to 11 points wins, though a player must win by two points. A score of 10-10 during the game engages &quot;Advantage Play&quot;
        <ul>
            <li>In Advantage Play, the serving player alternates each serve.</li>
            <li>First person to be ahead by two points wins the game.</li>
        </ul>
    </li>
    <li>Players are free to use their own table tennis paddle.</li>
    <li>
        If a serve is a &quot;let,&quot; the ball  should be re-served.
        <ul>
            <li>A &quot;let&quot; is a serve that hits the server&rsquo;s side of the table, touches the net, then hits the receiver&rsquo;s side of the table.</li>
        </ul>
    </li>
</ul>
