<link rel="import" href="/bower_components/iron-form/iron-form.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-toast/paper-toast.html">

<script type="text/javascript" src="/scripts/firebaseTableBinding.js"></script>
<script type="text/javascript" src="/scripts/record-match.js"></script>

<h2>Match Form</h2>
<form is="iron-form" id="match-form" method="post" action="record-match" class="layout vertical flex">

</form>

<paper-toast id="player-added" text="User added to database."></paper-toast>
