<script type="text/javascript" src="/scripts/firebaseTableBinding.js"></script>
<script type="text/javascript" src="/scripts/registration.js"></script>
<h2>New Registration Form</h2>
<form is="iron-form" id="registration-form" method="post" action="register">
  <paper-input name="first_name" label="First Name"></paper-input>
  <paper-input name="nick_name" label="Nick Name"></paper-input>
  <paper-input name="last_name" label="Last Name"></paper-input>
  <paper-input name="email" label="Email Address"></paper-input>
  <paper-button onclick="submitRegistration()">Submit Registration</paper-button>
</form>
